<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Countdown</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <script>window.d_day='April 28, 2019 09:00:00';</script>
</head>
<body>
  <main id="wrapper">
    <section>
      <p class="t-center t-spaced t-upper">#evrybodysrace</p>
      <div class="countdown">
        <div class="countdown__inner">
          <div class="countdown__column">
            <div class="countdown__render">
              <canvas id="days-canvas" width="200" height="200"></canvas>
              <svg width="200" height="200">
                <circle cx="100" cy="100" r="90" fill="transparent" stroke-width="6" stroke="#fff" opacity="1"/>
              </svg>
              <div class="countdown__label">
                <div id="days-value"></div>
              </div>
            </div>
            <div class="countdown__footer">days</div>
          </div>
          <div class="countdown__column">
            <div class="countdown__render">
              <canvas id="hours-canvas" width="200" height="200"></canvas>
              <svg width="200" height="200">
                <circle cx="100" cy="100" r="90" fill="transparent" stroke-width="6" stroke="#fff" opacity="1"/>
              </svg>
              <div class="countdown__label">
                <div id="hours-value"></div>
              </div>
            </div>
            <div class="countdown__footer">hours</div>
          </div>
          <div class="countdown__column">
            <div class="countdown__render">
              <canvas id="minutes-canvas" width="200" height="200"></canvas>
              <svg width="200" height="200">
                <circle cx="100" cy="100" r="90" fill="transparent" stroke-width="6" stroke="#fff" opacity="1"/>
              </svg>
              <div class="countdown__label">
                <div id="minutes-value"></div>
              </div>
            </div>
            <div class="countdown__footer">minutes</div>
          </div>
          <div class="countdown__column">
            <div class="countdown__render">
              <canvas id="seconds-canvas" width="200" height="200"></canvas>
              <svg width="200" height="200">
                <circle cx="100" cy="100" r="90" fill="transparent" stroke-width="6" stroke="#fff" opacity="1"/>
              </svg>
              <div class="countdown__label">
                <div id="seconds-value"></div>
              </div>
            </div>
            <div class="countdown__footer">seconds</div>
          </div>
        </div>
      </div>
      <p class="t-center t-spaced t-upper">Official Timing Partner Tag Heuer</p>
    </section>
  </main>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>