@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
       url('../fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat-Light.woff');
}

body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #a5a5a5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  > section {
    width: 100%;
  }
}

.countdown {
  background-color: #111;
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: 'Gotham', sans-serif;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    min-width: 800px;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      height: 900px;
      width: auto;
      min-width: auto;
    }
  }

  &__render {
    position: relative;
    canvas {
      display: block;
      position: relative;
      z-index: 1;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    > div {
      padding-top: .75rem;
      font-size: 4rem;
      line-height: 1;
      width: 100%;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-stroke-color: #fff;
      -webkit-text-stroke-color: #fff;
      -moz-text-stroke-width: 2px;  
      -webkit-text-stroke-width: 2px;
    }
  }

  &__footer {
    text-align: center;
    padding-top: 1rem;
  }
}

.t {
  &-center {
    text-align: center;
  }
  &-spaced {
    letter-spacing: 8px;
  }
  &-upper {
    text-transform: uppercase;
  }
}